{% load static %}
<!DOCTYPE html>
<html lang="fa" dir="rtl">

<head>
	<title> سوالات پر تکرار </title>

	<!-- Meta Tags -->
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<meta name="author" content="">
	<meta name="description" content=" سوالات پر تکرار ">

	<!-- Dark mode -->
	<script>
		const storedTheme = localStorage.getItem('theme')
 
		const getPreferredTheme = () => {
			if (storedTheme) {
				return storedTheme
			}
			return window.matchMedia('(prefers-color-scheme: dark)').matches ? 'dark' : 'light'
		}

		const setTheme = function (theme) {
			if (theme === 'auto' && window.matchMedia('(prefers-color-scheme: dark)').matches) {
				document.documentElement.setAttribute('data-bs-theme', 'dark')
			} else {
				document.documentElement.setAttribute('data-bs-theme', theme)
			}
		}

		setTheme(getPreferredTheme())

		window.addEventListener('DOMContentLoaded', () => {
		    var el = document.querySelector('.theme-icon-active');
			if(el != 'undefined' && el != null) {
				const showActiveTheme = theme => {
				const activeThemeIcon = document.querySelector('.theme-icon-active use')
				const btnToActive = document.querySelector(`[data-bs-theme-value="${theme}"]`)
				const svgOfActiveBtn = btnToActive.querySelector('.mode-switch use').getAttribute('href')

				document.querySelectorAll('[data-bs-theme-value]').forEach(element => {
					element.classList.remove('active')
				})

				btnToActive.classList.add('active')
				activeThemeIcon.setAttribute('href', svgOfActiveBtn)
			}

			window.matchMedia('(prefers-color-scheme: dark)').addEventListener('change', () => {
				if (storedTheme !== 'light' || storedTheme !== 'dark') {
					setTheme(getPreferredTheme())
				}
			})

			showActiveTheme(getPreferredTheme())

			document.querySelectorAll('[data-bs-theme-value]')
				.forEach(toggle => {
					toggle.addEventListener('click', () => {
						const theme = toggle.getAttribute('data-bs-theme-value')
						localStorage.setItem('theme', theme)
						setTheme(theme)
						showActiveTheme(theme)
					})
				})

			}
		})
		
	</script>

	<!-- Favicon -->
	<link rel="shortcut icon" href="assets/images/favicon.ico">

	<!-- Plugins CSS -->
	<link rel="stylesheet" type="text/css" href="{% static 'account/assets/vendor/font-awesome/css/all.min.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'account/assets/vendor/bootstrap-icons/bootstrap-icons.css' %}">

	<!-- Theme CSS -->
	<link rel="stylesheet" type="text/css" href="{% static 'account/assets/css/style-rtl.css' %}">

</head>

<body>

<!-- Header START -->
    {% include 'home/header.html' %}
<!-- Header END -->

<!-- **************** MAIN CONTENT START **************** -->
<main>
<!-- =======================
Page Banner START -->
<section class="bg-light py-5">
	<div class="container">
		<div class="row g-4 g-md-5 position-relative">
			<!-- SVG decoration -->
			<figure class="position-absolute top-0 start-0 d-none d-sm-block">	
				<svg width="22px" height="22px" viewBox="0 0 22 22">
					<polygon class="fill-purple" points="22,8.3 13.7,8.3 13.7,0 8.3,0 8.3,8.3 0,8.3 0,13.7 8.3,13.7 8.3,22 13.7,22 13.7,13.7 22,13.7 "></polygon>
				</svg>
			</figure>

			<!-- Title and Search -->
			<div class="col-lg-10 mx-auto text-center position-relative">
				<!-- SVG decoration -->
				<figure class="position-absolute top-50 end-0 translate-middle-y">
					<svg width="27px" height="27px">
						<path class="fill-orange" d="M13.122,5.946 L17.679,-0.001 L17.404,7.528 L24.661,5.946 L19.683,11.533 L26.244,15.056 L18.891,16.089 L21.686,23.068 L15.400,19.062 L13.122,26.232 L10.843,19.062 L4.557,23.068 L7.352,16.089 L-0.000,15.056 L6.561,11.533 L1.582,5.946 L8.839,7.528 L8.565,-0.001 L13.122,5.946 Z"></path>
					</svg>
				</figure>
				<!-- Title -->
				<h1 class="fs-3">سلام چجوری میتونیم کمک کنیم؟</h1>
				<!-- Search bar -->
				<div class="col-lg-8 mx-auto text-center mt-4">
					<form class="bg-body shadow rounded p-2">
						<div class="input-group">
							<input class="form-control border-0 me-1" type="text" placeholder="سوال خود را بپرسید...">
							<button type="button" class="btn btn-blue mb-0 rounded">ثبت</button>
						</div>
					</form>
				</div>
			</div>

			<!-- Category START -->
      <div class="col-12">
				<div class="row g-4 text-center">
				  <p class="mb-0">یک دسته بندی را انتخاب کنید تا به سرعت پاسخ مورد نیاز پرسش خود را پیدا کنید</p>
					<!-- Category item -->
					<div class="col-sm-6 col-md-3">
						<div class="card card-body card-border-hover p-0">
							<a href="#" class="p-3">
								<h2><i class="fas fa-street-view transition-base"></i></h2>
								<h6 class="mb-0">ثبت نام</h6>
							</a>
						</div>
					</div>

					<!-- Category item -->
					<div class="col-sm-6 col-md-3">
						<div class="card card-body card-border-hover p-0">
							<a href="#" class="p-3">
								<h2><i class="fas fa-hands-helping transition-base"></i></h2>
								<h6 class="mb-0">پشتیبانی</h6>
							</a>
						</div>
					</div>

					<!-- Category item -->
					<div class="col-sm-6 col-md-3">
						<div class="card card-body card-border-hover p-0">
							<a href="#" class="p-3">
								<h2><i class="fas fa-exclamation-circle transition-base"></i></h2>
								<h6 class="mb-0">کارت اعتباری</h6>
							</a>
						</div>
					</div>

					<!-- Category item -->
					<div class="col-sm-6 col-md-3">
						<div class="card card-body card-border-hover p-0">
							<a href="#" class="p-3">
								<h2><i class="fas fa-flag transition-base"></i></h2>
								<h6 class="mb-0">بازاریابی</h6>
							</a>
						</div>
					</div>
				</div> <!-- Row END -->
      </div>
			<!-- Category END -->
		</div>
	</div>
</section>
<!-- =======================
Page Banner END -->

<!-- =======================
Page content START -->
<section class="pt-5 pb-0 pb-lg-5">
	<div class="container">
	
		<div class="row g-4 g-md-5">
			<!-- Main content START -->
			<div class="col-lg-8">
				<!-- Title -->
				<h3 class="mb-4 fs-5">سوالات متداول</h3>

				<!-- FAQ START -->
				<div class="accordion accordion-icon accordion-bg-light" id="accordionExample2">
		            {% for i in data  %}
					<!-- Item -->
					<div class="accordion-item mb-3">
						<h6 class="accordion-header font-base" id="heading-1">
							<button class="accordion-button fw-bold rounded d-inline-block collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse-1" aria-expanded="true" aria-controls="collapse-1">
								{{ i.title }}
							</button>
						</h6>
						<!-- Body -->
						<div id="collapse-1" class="accordion-collapse collapse show" aria-labelledby="heading-1" data-bs-parent="#accordionExample2">
							<div class="accordion-body mt-3">
                                {{ i.text|safe }}
							</div>
						</div>
					</div>
                        
                    {% empty %}
                        <p>نه سوالی و نه جوابی نداریم </p>
                    {% endfor %}




				</div>
				<!-- FAQ END -->
			</div>
			<!-- Main content END -->

			<!-- Right sidebar START -->
			<div class="col-lg-4">
				<div class="row mb-5 mb-lg-0">
					<div class="col-12 col-sm-6 col-lg-12">
						<!-- Category START -->
						<div class="mb-4">
							<div class="d-flex justify-content-between align-items-center bg-info bg-opacity-10 rounded p-2 position-relative mb-3">
								<h6 class="m-0 text-info">آخرین پرسش</h6>
								<a href="#" class="badge bg-info stretched-link">2روز پیش</a>
							</div>
							<div class="d-flex justify-content-between align-items-center bg-danger bg-opacity-10 rounded p-2 position-relative mb-3">
								<h6 class="m-0 text-danger">پرسش ها</h6>
								<a href="#" class="badge bg-danger stretched-link">15,525</a>
							</div>
							<div class="d-flex justify-content-between align-items-center bg-success bg-opacity-10 rounded p-2 position-relative mb-3">
								<h6 class="m-0 text-success">پاسخ ها</h6>
								<a href="#" class="badge bg-success stretched-link">12536</a>
							</div>
						</div>
						<!-- Category END -->

						<!-- Related Topic START -->
						<div class="card card-body shadow p-4 mb-4">
							<!-- Title -->
							<h4 class="mb-3 fs-6">سایر موارد</h4>
							<!-- Item -->
							<div class="d-flex justify-content-between align-items-center mb-2">
								<a href="#" class="h6 fw-light"><i class="fas fa-caret-left text-orange me-2"></i>استارت آپ</a>
								<span class="small">(21)</span>
							</div>
							<!-- Item -->
							<div class="d-flex justify-content-between align-items-center mb-2">
								<a href="#" class="h6 fw-light"><i class="fas fa-caret-left text-orange me-2"></i>طراحی وب</a>
								<span class="small">(86)</span>
							</div>
							<!-- Item -->
							<div class="d-flex justify-content-between align-items-center mb-2">
								<a href="#" class="h6 fw-light"><i class="fas fa-caret-left text-orange me-2"></i>گرافیک</a>
								<span class="small">(92)</span>
							</div>
							<!-- Item -->
							<div class="d-flex justify-content-between align-items-center mb-2">
								<a href="#" class="h6 fw-light"><i class="fas fa-caret-left text-orange me-2"></i>دیجیتال مارکتنیگ</a>
								<span class="small">(62)</span>
							</div>
							<!-- Item -->
							<div class="d-flex justify-content-between align-items-center mb-2">
								<a href="#" class="h6 fw-light"><i class="fas fa-caret-left text-orange me-2"></i>تکنولوژی</a>
								<span class="small">(31)</span>
							</div>
							<!-- Item -->
							<div class="d-flex justify-content-between align-items-center mb-2">
								<a href="#" class="h6 fw-light"><i class="fas fa-caret-left text-orange me-2"></i>برنامه نویسی</a>
								<span class="small">(06)</span>
							</div>
							<!-- Item -->
							<div class="d-flex justify-content-between align-items-center mb-2">
								<a href="#" class="h6 fw-light"><i class="fas fa-caret-left text-orange me-2"></i>بهینه سازی سایت</a>
								<span class="small">(28)</span>
							</div>
							<!-- Item -->
							<div class="d-flex justify-content-between align-items-center mb-2">
								<a href="#" class="h6 fw-light"><i class="fas fa-caret-left text-orange me-2"></i>تولید محتوا</a>
								<span class="small">(18)</span>
							</div>
							<!-- Item -->
							<div class="d-flex justify-content-between align-items-center mb-2">
								<a href="#" class="h6 fw-light"><i class="fas fa-caret-left text-orange me-2"></i>ثبت سفارش</a>
								<span class="small">(32)</span>
							</div>
							<!-- Item -->
							<div class="d-flex justify-content-between align-items-center mb-2">
								<a href="#" class="h6 fw-light"><i class="fas fa-caret-left text-orange me-2"></i>پیگیری ارسال سفارش</a>
								<span class="small">(56)</span>
							</div>
							<!-- Item -->
							<div class="d-flex justify-content-between align-items-center">
								<a href="#" class="h6 fw-light"><i class="fas fa-caret-left text-orange me-2"></i>ارسال توسط فروشنده</a>
								<span class="small">(45)</span>
							</div>
						</div>
						<!-- Related Topic END -->
					</div>

					<div class="col-12 col-sm-6 col-lg-12">
						<!-- Tags START -->
						<div class="card card-body shadow p-4">
							<h4 class="mb-3 fs-6">برچسب ها</h4>
							<ul class="list-inline mb-0">
								<li class="list-inline-item"><a class="btn btn-outline-light btn-sm" href="#">کالای دیجیتال</a></li>
								<li class="list-inline-item"><a class="btn btn-outline-light btn-sm" href="#">استارت آپ</a></li>
								<li class="list-inline-item"><a class="btn btn-outline-light btn-sm" href="#">طراحی وب</a></li>
								<li class="list-inline-item"><a class="btn btn-outline-light btn-sm" href="#">bootstrap</a></li>
								<li class="list-inline-item"><a class="btn btn-outline-light btn-sm" href="#">بانک اطلاعاتی</a></li>
								<li class="list-inline-item"><a class="btn btn-outline-light btn-sm" href="#">Laravel</a></li>
								<li class="list-inline-item"><a class="btn btn-outline-light btn-sm" href="#">داده کاوی</a></li>
								<li class="list-inline-item"><a class="btn btn-outline-light btn-sm" href="#">زیبایی و سلامت</a></li>
							</ul>
						</div>
						<!-- Tags END -->
					</div>
				</div><!-- Row End -->
			</div>
			<!-- Right sidebar END -->
		</div><!-- Row END -->
	</div>
</section>
<!-- =======================
Page content END -->

</main>
<!-- **************** MAIN CONTENT END **************** -->

<!-- =======================
Footer START -->
    {% include 'home/footer.html' %}
<!-- =======================
Footer END -->
					
<!-- Back to top -->
<div class="back-top"><i class="bi bi-arrow-up-short position-absolute top-50 start-50 translate-middle"></i></div>

<!-- Bootstrap JS -->
<script src="{% static 'account/assets/vendor/bootstrap/dist/js/bootstrap.bundle.min.js' %}"></script>

<!-- Template Functions -->
<script src="{% static 'account/assets/js/functions.js' %}"></script>

</body>

</html>